*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}


body{

    font-family: "roboto";
    background-color: #ACFCC5;
}



.myForm{
    padding: 20px;
    margin: 200px 450px;
    border: 2px solid #F841BE;
    border-radius: 5px;
    background-color: #FCACE3;
}