*{
    margin: 0;
    padding: 0;
    border: 1px solid #fafafa;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}



body{

    font-family: "roboto";
    background-color: #ACFCC5;
}

.containerLogo{
    text-align: center;
    margin: 20px;
}

.fa-feather-alt{
    font-size: 200px;
    background-color: white;

}

.cFormulario{
    display: block;
}

.container{
    display: block;
}
.myForm{
    padding: 20px;
    margin: auto;
    max-width: 300px;
    border: 2px solid #F841BE;
    border-radius: 5px;
    background-color: #FCACE3;
}
.myForm input{
    display: block;
    width: 100%;
}
a{
    color: rgb(19, 151, 19);
}
.contraError{
    color: red;
    display: none;
}

.usuarioError{
    color:red;
    display: none;
}

.boton{
    background-color: rgb(201, 192, 192);
    border-radius: 5px;
}

#mensaje{
    display:none;
    background-color: red;
    color: white;
    text-shadow: tomato;
}

@media only screen and (min-width: 767px){
    .containerLogo{
    margin-top: 200px;
    }
}

@media only screen and (min-width: 1024px){
    .containerLogo{
    margin-top: 100px;
    }
}